.movies-list{
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
}
.movie-items{
    /* border: 1px solid red; */
    width: 30%;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    border-radius: 8px;
}
.movie-items img{
    width: 90%;
    height: 500px;
}